# Vivado generated
*.jou
*.log
*.pb
*.str
*.xpr.bak
*.xpr

.cache/
.sim/
.hw/
.ip_user_files/
.Xil/
.runs/

# OS
.DS_Store
Thumbs.db

/TRABAJO_VHDL.sim
/TRABAJO_VHDL.hw
/TRABAJO_VHDL.cache
/TRABAJO_VHDL.ip_user_files
